mixin box-actions(link, deleted, restoreAll)
    div(class="input-group" box-actions=link)
        select(class="custom-select")
          option(value='') Chọn hành động...
          option(value='active') Hoạt động
          option(value='inactive') Dừng hoạt động
          if deleted == "Xóa"
            option(value='delete') Xóa
          else if deleted == "Xóa Vĩnh Viễn"
            option(value='delete-forever') Xóa Vĩnh Viễn
          if restoreAll == "Khôi Phục"
            option(value='restoreAll') Khôi Phục
        .input-group-append
          button(
            class="btn btn-outline-secondary"
            type='button'
          ) Áp dụng